{% extends 'base.html' %}
{% load static %}
{% block title %}Digit Prediction{% endblock %}
{% block body %}
<div class = "main-body">
    <h2 class = "center">Handwritten Prediction using CNN (Convolutional Neural Network)</h2>
    <h4 class = "center"><a style = "color: purple;" href = "/image_digit">Handwritten Digit</a></h4>
    <h4 class = "center"><a  style = "color: green;" href = "/image_alphabet">Handwritten Alphabet</a></h4>
</div>
{% endblock %}
{% block js %}
<script src = "/static/js/script.js"></script>
{% endblock %}